# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for data science
- List commonly used libraries for data science
- List data science tools
- Use simple arithmetic with Python to multiply and add numbers
- Use simple arithmetic with Python to convert 200 minutes to hours

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Scikit-learn

|Data Science Tools |
|---|
| Jupyter Notebook |
| RStudio |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Zachary Chang